@font-face {
  font-family:'Bebas';
  font-style:normal;
  font-weight:400;
  src:url(BebasNeue.otf);
}

::selection {
  color: #eee;
  background: #666;
} 
::-moz-selection {
  color: #eee;
  background: #666;
}

html {
  color:#666;
  font-family:rokkitt;
  padding:0;
  margin:0;
}
body {
  padding:0;
  margin:0;
  overflow-x:hidden;
}

#container {
  z-index:98;
  background:#fff;
  width:60%;
  margin:0 auto 100px auto;
  padding:60px 40px 80px 20px;
  box-shadow:0 0 2px #444, 0 40px 0 #666;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-left:40px solid #f2f2f2;
}
h1, h2, h3 {
  -webkit-text-stroke:0.1px;
  -webkit-font-smoothing:antialiased;
}

hgroup {
  width:288px;
}
hgroup h1 {
  font-size:4em;
  font-family:bebas;
  margin:0;
  display:inline-block;
  transition:4s all ease-in;
  -webkit-transition:4s all ease-in;
  -moz-transition:4s all ease-in;
}
h1:hover {
  transform:scale(1.2);
  -webkit-transform:scale(1.2);
  -moz-transform:scale(1.2);
}
h1 a {
  text-decoration:none;
  color:#666;
}

h2.section_title {
  margin:0 0 30px -10px;
  font-family:'open sans condensed',helvetica,arial,sans-serif;
  letter-spacing:-1px;
  cursor:pointer;
  transition:.4s all ease-in-out;
  -webkit-transition:.4s all ease-in-out;
  -moz-transition:.4s all ease-in-out;
}
h2.section_title a {
  text-decoration:none;
  text-transform:uppercase;
  color:#666;
}
h2.section_title a:hover {
  text-decoration:underline;
}
h3 {
  margin:20px 0;
  padding:6px 0;
  font-family:helvetica,arial,sans-serif;
  font-size:16px;
  border-bottom:1px dotted #888;
}

p.headline {
  font-style:italic;
  font-size:22px;
  color:#888;
}

ul.feature_list {
  z-index:99;
  list-style-type:none;
  height:40px;
  background:#fff;
  padding:0 0 0 2px;
  margin:40px 0;
  border-top:1px solid #666;
}
ul.sticky {
  position:fixed;
  top:-40px;
  background:#fafafa;
  background-image:linear-gradient(top, #fafafa, #eee);
  background-image:-webkit-linear-gradient(top, #fafafa, #eee);
  background-image:-moz-linear-gradient(top, #fafafa, #eee);
  box-shadow:0 0 6px #666;
  border:4px solid #666;
  border-top:none;
}
ul.sticky li {
  border-radius:0;
  box-shadow:1px 0 0 #666;
  text-shadow:0 1px 0 rgba(255, 255, 255, .7);
}
ul.sticky li.selected {
  background:#888;
  background-image:linear-gradient(top, #888, #666);
  background-image:-webkit-linear-gradient(top, #888, #666);
  background-image:-moz-linear-gradient(top, #888, #666);
}
ul.feature_list li {
  z-index:99;
  height:100%;
  display:inline-block;
  vertical-align:middle;
  line-height:40px;
  padding:0 20px;
  margin:0 0 0 -2px;
  font-size:14px;
  font-family:helvetica,arial,sans-serif;
  cursor:pointer;
  transition:.2s all ease-in-out;
  -webkit-transition:.2s all ease-in-out;
  -moz-transition:.2s all ease-in-out;
  text-shadow:none;
  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  color:#666;
  opacity:.7;
}
ul.feature_list > li:hover {
  opacity:1;
}
ul.feature_list > li.selected {
  background:#666;
  opacity:1;
}
ul.feature_list > li > a {
  display:inline-block;
  text-decoration:none;
  color:#666
}
ul.feature_list > li.selected > a {
  color:#fff;
}

section {
  border-radius:4px;
  padding:20px 40px 20px 20px;
  line-height:1.5em;
}
section.highlight {
  background:#fafafa;
}

section ul {
  list-style-type:disc;
}

section ul > li {
  margin-bottom:2px;
}

section em {
  background:#fafafa;
  font-style:normal;
  font-family:monospace;
  padding:0 2px;
  border-radius:2px;
  box-shadow:inset 0 0 1px #444;
}
section em.code {
  display:block;
  padding:8px;
  margin:20px 0;
}

ol.notes {
  margin:20px 0 20px 8px;
}
ol.notes li {
  font-size:16px;
}
ol.notes li em {
  font-size:12px;
}


table {
  border-spacing:0;
  box-shadow:0 0 4px #666;
  line-height:1em;
  margin:20px 0;
}
th, td {
  padding:10px;
  text-align:center;
}

th {
  width:70px;
  font-size:16px;
  font-weight:bold;
  color:#fafafa;
  background:#666;
  background-image:linear-gradient(top, #777, #555);
  background-image:-webkit-linear-gradient(top, #777, #555);
  background-image:-moz-linear-gradient(top, #777, #555);
  box-shadow:0 0 4px #666, 0 1px 0 #111;
  border-right:1px solid #444;
}

td {
  font-size:14px;
  color:#fefefe;
  font-family:helvetica,arial,sans-serif;
  box-shadow:inset 0 0 2px #666;
}
td.name {
  background:#fafafa;
  color:#666;
  font-family:helvetica,arial,sans-serif;
  font-weight:bold;
  text-align:left;
  width:100px;
  box-shadow:inset 0 0 1px #666;
}
td.name:last-of-type {
  border-bottom:none;
}
td.name:first-of-type {
  border-top:none;
}
td.yes {
  background:#5DAC81;
}
td.no {
  background:#E3916E;
}
td.name a:hover {
  text-decoratioN:underline;
}
td.name a {
  color:#666;
  text-decoration:none;
}
td em {
  background:#666;
  color:#fafafa;
  font-size:10px;
  float:right;
  position:relative;
  top:-6px;
  right:-6px;
  line-height:10px;
  text-shadow:none;
}
td span {
  position:relative;
  left:4px;
}

div.gist-syntax {
  background:#fafafa !important;
}

#gh {
  display:inline-block;
  position:absolute;
  top:10px;
  font-size:24px;
  opacity:.4;
  cursor:pointer;
  transition:.4s all ease-in;
  -webkit-transition:.4s all ease-in;
  -moz-transition:.4s all ease-in;
}

#gh:hover {
  transform:rotate(360deg);
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  opacity:1;
}
